<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

  		<main role="main" class="container">
  			<div class="jumbotron">
  				<div class="alert" role="alert" style="display:none"></div>
			<!-- Load view page  -->
				{{{body}}} 
			</div>
		</main><!-- /.container -->


	</div>
    
  </body>
</html>