<!-- Using code from W3School (https://www.w3schools.com/nodejs/nodejs_uploadfiles.asp) -->

<form action="fileupload" method="post" enctype="multipart/form-data">
	<input type="file" name="filetoupload"><br>
	<input type="submit">
</form>